html, body{
  margin: 0; padding: 0;
}
.main{
  width: 95%;
  margin: 10px auto;
  border: 1px solid red;
  box-shadow: 2px 2px grey;
  padding: 10px;
}
h3 {
  text-align: center;
}
.parent{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.options{
  width: 94px;
  margin: 1px;
  height: auto;
  padding: 15px;
  border: 1px solid black;
  cursor: pointer;
}
.options:hover{
  background-color: black;
  color: white;
  border: 1px solid white;
}
