body{
  /*background-color: rgb(255,0,0);
  background-image: url("images/img_pulpit.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;*/
  background: url("images/img_pulpit.jpg") no-repeat bottom right fixed;
  margin:0;
  color: black;
  /*text-decoration: line-through;*/
  text-transform: capitalize;
  text-indent: 5px;
  direction: ltr;
  letter-spacing: 5px;
  word-spacing: 10px;
  /*line-height: 50px;*/
  /*text-shadow: 2px 3px blue;
  font-family: "times new roman",sans-serif;
  font-style: oblique;
  font-size: 1.2em;
  font-weight: bold;
  font-variant: small-caps;
  font:12px sans-serif;*/
  font-size: 1.2vw; /*viewport width*/
}
a{
  color: black;
}
#two{
  background-color: tomato;
}
.one{
  background-color: purple;
}
.center{
  text-align:center;
}
.specificwh{
  min-width:50%;
  max-width:100%;
  /*max-height:50px;*/
}
.borders{
  /*border-style: groove;
  border-width: 2px;
  border-color: red;*/
  border:2px solid red;
  border-radius: 15px;
  /*border-bottom: 2px solid green;*/
}
.padding{
  padding: 15px 10px 8px 0;
}
.margin{
  margin: inherit;
}
.outline{
  outline-style: dashed;
  outline-color:red;
  outline-width: 2px;
  outline-offset: 5px;
}
span{
  cursor: pointer;
}
